<app-navbar-two></app-navbar-two>

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Stock</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Stock</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>Find the stock you want!</h2>
            <p> You can invest now with us!</p>
        </div>

        <div class="container">
            <form class="update-form"
            name="form" (submit)="GetStock()">
                <input type="text" name="symbl"
                       style="color:black"
                       class="input-newsletter"
                       [(ngModel)]="symbl"
                       placeholder="Enter a stock symbol">
                <button type="submit">Search now</button>
            </form>
        </div>

        <div class="col-lg-12 col-md-12" *ngIf="Actif">
            <div class="tab products-details-tab">
                <ul class="tabs">
                    <li>
                        <a href="#">
                            <div class="dot">
                            Stock information
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab_content" >
<div class="tabs_item">
    <div class="products-details-tab-content">
        <ul class="additional-information">
            <li><span>Symbol:</span> {{stock.symbol}} </li>
            <li><span>Name:</span> {{stock.name}} </li>
            <li><span>Price:</span> {{stock.price}}</li>
            <li><span>Previous Open:</span> {{stock.previousOpen}}</li>
            <li><span>Previous Close:</span> {{stock.previousClose}}</li>
            <li><span>High:</span> {{stock.high}}</li>
            <li><span>Low:</span> {{stock.low}}</li>
            <li><span>Volume:</span> {{stock.volume}}</li>
        </ul>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>
